<form action="">
  <input type="text" placeholder="{{text}}" /><br>
  <input type="text" [placeholder]="text" /><br>
  <input type="text" bind-placeholder="text"/><br>
  <!--all the above are different syntax for one way property binding,
  any syntax can be used as per choice-->
  <input type="button" disabled value="sample"/>  <!--here it is permanent disable-->
  <input type="button" [disabled]="modify" value="sample"/> <br>
  <!--here it is temporarily disable based on certain condition or value got 
    by binding disabled property of input to a value passed, in other words disabled property 
    is now dynamic-->
  <input type="submit" [hidden]="hide" value="sample"/>  <br>
  <!--here also the hidden property becomes dynamic -->
  <input type="button" class="btn-danger" (click)="onclick()" value="toggle"/> <br>
  <input type="button" class="btn-info" on-click="onclick()" value="other toggle"/> <br>
  <!-- above are two different syntax for event binding (click function) -->
  <hr>
  <div class="container">
    <div class="row">
      <img class="col-lg-3 col-xs-3 responsive" src="src/images/lambo.jpeg" alt="" (mouseover)="onMouse($event)"
        (mouseout)="onMouse($event)"/>
      <!--we can pass data or info from view to a method in component object, in above example
        we have passed info of over and out using $event object-->
      <img #img1 class="col-lg-3 col-xs-3 responsive" src="src/images/lambo.jpeg" alt="" 
        (mouseover)="img1.src='src/images/mclaren.jpg'" (mouseout)="img1.src='src/images/lambo.jpeg'"/><br>
      <!--also by using the id for image tag we can refer it from anywhere within the template
        so we directly place the source here-->
    </div>
  </div>
  <hr>

  <input type="text" (keyup)="onkey($event)" /><br>
  key pressed:{{keys}} <br>
  value of text box:{{txtVal}}

</form>