<h5>Course: {{course}} </h5>
  <h5>time and date: {{time}}<h5>
  <h5 *ngIf="studying; else noStudy">Studying</h5>
    <ng-template #noStudy>
      No study now 
    </ng-template> <br>

    <!-- ng-template is neccessary for ngIf, then, else to execute -->

  <h5 *ngIf="specialization; then specificFaculty else anyFaculty"> </h5>
    
    <ng-template #specificFaculty>
    Faculty: {{faculty}}
    </ng-template>
  
    <ng-template #anyFaculty>
    Faculty: Any faculty can teach 
    </ng-template>

    <p>Duration:
      <span [ngSwitch]="duration">
        <span *ngSwitchCase="7">One week</span>
        <span *ngSwitchCase="15">Two weeks</span>
        <span *ngSwitchCase="30">One month</span>
        <span *ngSwitchDefault>Invalid duration</span>
    </span>
    </p>

    <span>Related courses</span>
    <hr>

    <ol >
      <div *ngFor="let rc of relatedCourses" 
        [ngClass]="rc.class"
        [ngStyle]="{'background-color': rc.color,'font-size.em':1.7}">
        <li *ngIf="rc.chapters>20">
          <p>Course: {{rc.course}}</p>
          <p>Chapters:  {{rc.chapters}}</p>
          <p>Teacher: {{rc.teacher}}</p>
        </li>
        </div>
      </ol><br><br><br>

      to render a variable on DOM we use this syntax 
      <span ngNonBindable>{{variable}}</span> 
      <!-- ngNonBindable is used when we want to ignore or not compile an element -->
      <br><br><br><br><br>

    Employees <hr>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Post</th>
        <th>Type</th>
      </tr>
      <tr *ngFor="let employee of employees">
        <td>{{employee.Id}}</td>
        <td>{{employee.Name | uppercase}}</td>
        <td>{{employee.Post}}</td>
        <td>
          <span [ngSwitch]="employee.Type">
            <span *ngSwitchCase="0">Permanent</span>
            <span *ngSwitchCase="1">Contract</span>
            <span *ngSwitchCase="2">Temporary</span>
            <span *ngSwitchDefault>Not an employee</span>
          </span>
        </td>
      </tr>
    </table>
    
    
    <employee-form></employee-form> <hr>
    <person first="naman" last="rajvanshi"></person><hr>
    <person first="deepandra" last="shekhawat"></person><hr>
    <person first="kartik" last="rathore"></person><hr>
    <br><br><br>
    <counter [count]="7" (plus)="modifyCount($event)" (minus)="modifyCount($event)"></counter><br>
    from basic component <br> count:{{count}}