<div class="card card-block">
  <h4 class="card-title">Currency pipe</h4>
  <div class="card-text">
    <p>{{ 1234.56 | currency:'GBP'}}</p>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">Date pipe</h4>
  <div class="card-text">
    <p>{{ date | date:'d/M/y'  }}</p>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">Decimal pipe</h4>
  <div class="card-text">
    <p>{{ 3.1457354930378 | number:'2.2-4' }}</p>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">JSON pipe</h4>
  <div class="card-text">
    <p>{{ jsonVal }}</p>
    <p>{{ jsonVal | json }}</p>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">Lowercase pipe</h4>
  <div class="card-text">
    <p>{{ 'EVOLUTIVE EONICSLABS' | lowercase }}</p>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">Uppercase pipe</h4>
  <div class="card-text">
    <p>{{ 'evolutive eonicslabs' | uppercase }}</p>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">Percent pipe></h4>
  <div class="card-text">
    <p>{{ 0.04567 | percent }}</p>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">Slice pipe</h4>
  <div class="card-text">
    <p>{{ [1,2,3,4,5,6,7,8,9,10] | slice: 2:6 }}</p>
    <p>{{ [1,2,3,4,5,6,7,8,9,10] | slice: 4 }}</p>
    <ul>
      <li *ngFor="let item of [1,2,3,4,5,6,7,8,9,10] | slice: 4">
        {{item}}
      </li>
    </ul>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">Promise pipe</h4>
  <div class="card-text">
    <p>{{ promiseData_Without_Async_Pipe }}  without using any async pipe  </p>
    <!-- <p>{{ promiseData_with_async_pipe }} by using async pipe</p> 
      this wont work without async pipe --> 
    <p>{{ promiseData_with_async_pipe | async}} by using async pipe</p>
  </div>
</div>

<div class="card card-block">
  <h4 class="card-title">Observable pipe</h4>
  <div class="card-text">
    <p>{{ observData_without_async_pipe }}</p>
  </div>
</div>
