Person details: <br><br>

<form>
  First Name: <input type="text" value="first" (input)="first=$event.target.value"/> <br>
  Last Name: <input type="text" [value]="last" (input)="last=$event.target.value"/> <br>
</form><br><br>
hello {{first+" "+last}}

<br><br>

<form >
  Company Name: <input type="text" [(ngModel)]="company" name="1st"/> <br>
  Post Name: <input type="text" [(ngModel)]="post" name="2nd" /> <br>
</form><br><br>
<!-- we dont need to write [value] attribute and (input) event seperately as it is done by ngModel
and ngModel would not work without name attribute inside input tag-->

working in {{company}} <br>as {{post}}

<br><br><br>