<div class="card card-block">
    <h4 class="card-title">Add member</h4>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="enter member name" #name/>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="enter post" #post/>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="enter age" #age/>
    </div>
    
    <!-- now #name is an id reference and #post is also an id reference, these can be used
    anywhere in the template -->

    <button type="button" class="btn btn-warning" (click)="add(name.value,post.value,age.value)">Add member</button>
</div>
