<!-- by default browser performs own validation to the forms and pops up if there is an error so we put
novalidate, because we ourself will validate the form as per our need -->

<form [formGroup]="myform" novalidate>
    
    <fieldset formGroupName="fullName">
        <div class="form-group">
            <label>First Name</label>
            <input type="text"
                   class="form-control"
                   formControlName="firstName"/>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text"
                    class="form-control"
                    formControlName="lastName"/>
        </div>
    </fieldset> 

        <div class="form-group">
            <label>Email</label>
            <input type="email"
                    class="form-control"
                    formControlName="email"/>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password"
                    class="form-control"
                    formControlName="password"/>
        </div> 

        <div class="form-group">
                <label>Language</label>
                <select class="form-control" formControlName="language" >
                    <!-- <option value="">Please select a language</option> -->
                    <option *ngFor="let lang of langs"  [value]="lang">{{ lang }}</option>
                </select>
            </div>    

</form>

<pre>{{ myform.value | json }}</pre>